<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.o_d_a">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.O_D_A">
        <activity
            android:name=".UpdateDocProfile"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".RazorPayPayment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactUs"
            android:exported="false" />
        <activity
            android:name=".ViewAppointments"
            android:exported="false" />
        <activity
            android:name=".UpdateUserProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorProfile"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ViewFeedback"
            android:exported="false" />
        <activity
            android:name=".RegisteredDoctors"
            android:exported="false" />
        <activity
            android:name=".RegisteredUsers"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword2"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword1"
            android:exported="false" />
        <activity
            android:name=".doctor_Signup"
            android:exported="false" />
        <activity
            android:name=".doctor_home"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".doctor_Login"
            android:exported="false" />
        <activity
            android:name=".admin_Signup"
            android:exported="false" />
        <activity
            android:name=".admin_Login"
            android:exported="false" />
        <activity
            android:name=".UserFeedBack"
            android:exported="false" />
        <activity
            android:name=".admin_home"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".UserDetails"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".user_Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.onlinedoctorappointment.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>